/* 1 item */
@media only screen and (max-width: 570px) {
  header {
    margin: 0px;
    padding: 20px 10px;
  }

  header h1 {
    font-size: 2.5em;
    margin-bottom: 7px;
  }

  header h4 {
    font-size: 0.767em;
  }

  .me {
    margin: 0px 0px 5px 5px;
    width: 50px;
    height: 50px;
  }

  .main {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 272px;
  }

  .main-index {
    margin-top: 0px;
    padding: 10px;
  }

  .preface {
    padding: 10px;
    margin-bottom: 10px;
  }

  .preface p {
    font-size: 0.9em;
    line-height: 1.1em;
    margin-bottom: 10px;
  }

  .category-title {
    font-size: 18px;
  }

  .card {
    margin-bottom: 15px;
  }

  .card .content .date {
    font-size: 0.7em;
    line-height: 1.1em;
    margin-top: 5px;
  }
  
  .card .content .title {
    font-size: 1.1em;
    line-height: 1.3em;
  }
  
  .card .content .short {
    font-size: 0.9em;
    line-height: 1.3em;
  }

  .post .header .author-date {
    font-size: 0.7em;
    line-height: 1.1em;
    padding: 0px 10px;
    margin-top: 0px;
  }

  .post .header .title {
    padding: 20px 10px 5px 10px;
    font-size: 1.2em;
  }

  .post .header .back {
    padding-left: 10px;
  }

  .post img {
    max-width: 100%;
  }

  .post iframe {
    margin-right: 10px;
    max-width: 95%;
    max-height: 200px;
  }

  .post .content {
    margin-top: 15px;
    padding: 0px 10px;
  }

  .post .content p {
    padding: 0px 0px 10px 0px;
    font-size: 0.9em;
    line-height: 1.3em;
  }

  .post .content ul li {
    font-size: 0.9em;
    line-height: 1.3em;
  }

  .post .content pre.ql-syntax {
    font-size: 0.8em;
    line-height: 1.2em;
  }

  .post .content div.code {
    width: 85%;
    margin-right: 10px;
    font-size: 0.8em;
    line-height: 1.2em;
  }

  .post .content h3 {
    padding: 10px 10px 20px 0px;
    font-size: 1.1em;
  }

  .post .content .ql-video {
    width: 90%;
  }
}

/* 2 items */
@media only screen and ((min-width: 571px) and (max-width: 860px)) {
  header {
    margin: 0px;
    padding: 20px 10px;
  }

  header h1 {
    font-size: 2.5em;
    margin-bottom: 7px;
  }

  header h4 {
    font-size: 0.767em;
  }

  .me {
    margin: 0px 0px 0px 10px;
    width: 80px;
    height: 80px;
  }

  .main {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 564px;
  }

  .main-index {
    margin-top: 0px;
    padding: 10px;
  }
  
  .preface {
    padding: 10px;
    margin-bottom: 10px;
  }

  .preface p {
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 10px;
  }

  .category-title {
    font-size: 18px;
  }

  .card {
    margin-bottom: 15px;
  }

  .card .content .date {
    font-size: 0.7em;
    line-height: 1.1em;
    margin-top: 5px;
  }
  
  .card .content .title {
    font-size: 1.1em;
    line-height: 1.3em;
  }
  
  .card .content .short {
    font-size: 0.9em;
    line-height: 1.3em;
  }
  
  .post .header .author-date {
    font-size: 0.7em;
    line-height: 1.1em;
    padding: 0px 10px;
    margin-top: 0px;
  }

  .post .header .title {
    padding: 20px 10px 5px 10px;
    font-size: 1.2em;
  }

  .post .header .back {
    padding-left: 10px;
  }

  .post img {
    max-width: 100%;
  }

  .post iframe {
    margin-right: 10px;
    max-width: 95%;
    max-height: 200px;
  }

  .post .content {
    margin-top: 15px;
    padding: 0px 10px;
  }

  .post .content p {
    padding: 0px 0px 10px 0px;
    font-size: 0.9em;
    line-height: 1.3em;
  }

  .post .content ul li {
    font-size: 0.9em;
    line-height: 1.3em;
  }

  .post .content pre.ql-syntax {
    font-size: 0.8em;
    line-height: 1.2em;
  }

  .post .content div.code {
    width: 85%;
    margin-right: 10px;
    font-size: 0.8em;
    line-height: 1.2em;
  }

  .post .content h3 {
    padding: 10px 10px 20px 0px;
    font-size: 1.1em;
  }

  .post .content .ql-video {
    width: 90%;
  }
}

/* 3 items */
@media only screen and ((min-width: 861px) and (max-width: 1200px)) {
  header {
    margin: 0px;
    padding: 30px 20px;
  }

  header h1 {
    font-size: 3.5em;
    margin-bottom: 15px;
  }

  header h4 {
    font-size: 1.07em;
  }

  .me {
    margin: 0px 0px 0px 10px;
    width: 110px;
    height: 110px;
  }

  .main {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 856px;
  }

  .main-index {
    margin-top: 0px;
    padding: 20px;
  }

  .preface {
    padding: 20px;
    margin-bottom: 20px;
  }

  .preface p {
    font-size: 1.3em;
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  .category-title {
    font-size: 22px;
  }

  .card {
    margin-bottom: 20px;
  }

  .card .content .date {
    font-size: 0.8em;
    margin-top: 5px;
  }
  
  .card .content .title {
    font-size: 1.2em;
  }
  
  .card .content .short {
    font-size: 1.0em;
    line-height: 1.2em;  
  }

  .post .header {
    padding: 20px 0px;
    background: #00000055;
  }

  .post .header .author-date {
    font-size: 0.8em;
    line-height: 1.1em;
    padding: 0px 20px;
    margin-top: 5px;
  }

  .post .header .title {
    padding: 0px 20px;
    font-size: 1.8em;
  }

  .post .content {
    background: #00000055;
    padding: 10px 20px;
  }

  .post .content p {
    padding: 5px 0px 15px 0px;
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .post .content ul li {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .post .content pre.ql-syntax {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .post .content div.code {
    width: 70%;
    margin-right: 20px;
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .post .content h3 {
    padding: 20px 20px 20px 0px;
    font-size: 1.5em;
  }

  .post .content .ql-video {
    width: 70%;
  }
}

/* 4 items */
@media only screen and (min-width: 1201px) {
  header {
    margin: 0px;
    padding: 30px 20px;
  }

  header h1 {
    font-size: 3.5em;
    margin-bottom: 15px;
  }

  header h4 {
    font-size: 1.07em;
  }

  .me {
    margin: 0px 0px 0px 15px;
    width: 110px;
    height: 110px;
  }

  .main {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1148px;
  }

  .main-index {
    margin-top: 0px;
    padding: 20px;
  }

  .preface {
    padding: 20px;
    margin-bottom: 20px;
  }

  .preface p {
    font-size: 1.3em;
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  .category-title {
    font-size: 22px;
  }

  .card {
    margin-bottom: 20px;
  }

  .card .content .date {
    font-size: 0.8em;
    margin-top: 5px;
  }
  
  .card .content .title {
    font-size: 1.2em;
  }
  
  .card .content .short {
    font-size: 1.0em;
    line-height: 1.2em;  
  }

  .post .header {
    padding: 20px 0px;
    background: #00000055;
  }

  .post .header .author-date {
    font-size: 0.8em;
    line-height: 1.1em;
    padding: 0px 20px;
    margin-top: 5px;
  }

  .post .header .title {
    padding: 0px 20px;
    font-size: 1.8em;
  }

  .post .content {
    background: #00000055;
    padding: 10px 20px;
  }

  .post .content p {
    padding: 5px 0px 15px 0px;
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .post .content ul li {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .post .content pre.ql-syntax{
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .post .content div.code {
    width: 70%;
    margin-right: 20px;
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .post .content h3 {
    padding: 20px 20px 20px 0px;
    font-size: 1.5em;
  }

  .post .content .ql-video {
    width: 70%;
  }
}
